# web framework
Flask ~= 3.0
Flask-Marshmallow ~= 1.2
Flask-SQLAlchemy ~= 3.1
Flask-Migrate ~= 4.0
Marshmallow-SQLAlchemy ~= 1.0

# postgres database adapter
psycopg2-binary >= 2.9

# geographic libraries
Shapely ~= 2.0
GeoAlchemy2 ~= 0.15